// Content Header (Page header)
section.content-header
  h1!=end($breadcrumb)['name']
  if apikey
    small
      span.label.label-default
        a(href="/api/contributions/".$issue."/".$chapter."?access_token=".$apikey target="_blank") API GET
  ol.breadcrumb
    each crumb in breadcrumb
      li
        a(href='#')
          i.fa(class=crumb.class)
          span=crumb.name

// Main content
section.content(data-path=base_path)
  .row
    .col-xs-12
      .box
        .box-header
          .input-group.col-md-8(style="float: left;")
            if paginated
              :php
                $n = 0;
              .btn.label.label-default(style="float: left; padding: 7px; margin-right: 1em;")
                span Page: 
                select#pagechange
                  while $n < ceil($max/$pagesize)
                    option(value=n selected=($page==$n?true:false))=(n+1)
                      :php
                        $n++;
                span!=' of ' . ceil($max/$pagesize)

            if (is_array($templates))
              button.btn.btn-success#add_contribution(style="float: left; width: 150px; margin-right: 1em;")
                i.fa.fa-edit &nbsp;
                span=translations['new_document']
            .input-group
              button.btn.btn-primary.dropdown-toggle.disabled.col-xs-2(style="float: left; width: 150px; margin-right: 1em;", id="rf_bulk_action", type="button", data-toggle="dropdown", aria-expanded="false")
                i.fa.fa-caret-down &nbsp;
                span=$translations["contribution_actions"]
              ul.dropdown-menu.rfselector(bulk="contributions")
                li
                  a.text-green(href="/rf/contributions/Close")=$translations["status_close"]
                li
                  a.text-blue(href="/rf/contributions/Open")=$translations["status_open"]
                li
                  a.text-orange(href="/rf/contributions/Draft")=$translations["status_draft"]
                li
                  a.text-red(href="/rf/contributions/Deleted")=$translations["status_deleted"]
                li.divider
                li
                  a(href="/rf/contributions/clone")=$translations["status_clone"]
                li.divider
                li
                  a.bg-red(data-alert-message=$translations["alert_destroy"] href="/rf/contributions/Trash")=$translations["status_destroy"]

          .col-md-4(style="float: right; padding: 0px;")
            .input-group
              span.input-group-btn
                button.btn.btn-default
                  i.fa.fa-search
              if paginated
                form(id="subsearch" action=base_path method="get")
                  input.form-control(type='text', name='q', placeholder='Search', value=searchterm)
              else
                input.form-control(id='table_search', type='text', name='table_search', placeholder='Filter')


        // /.box-header
        .box-body
          .row
            .col-sm-12
              table(style="width:100%", id=($paginated?"ptable":"rftable")).table.table-bordered.table-striped.dataTable
                thead
                  tr
                    th(style="min-width:35px; width:35px;")=translations['contrib_th_seq']
                    th(id="refresh_man", style="min-width:35px; width:35px;")
                      a.fa.fa-refresh(href="/rf/contributions/ReSort", data-alert-message=$translations['contrib_th_resort'])
                    th(style="min-width:40px; width:40px;")=translations['contrib_th_id']
                    th(style="min-width:60px; width:60px;")=translations['contrib_th_autor']
                    th(style="min-width:70px; width:70px;")=translations['contrib_th_datum']
                    th=translations['contrib_th_name']
                    th(style="min-width:50px; width:50px;")=translations['contrib_th_status']
                    th(style="min-width:120px; width:120px;")=translations['contrib_th_lock']
                    th(style="min-width:70px; width: 70px;")=translations['contrib_th_preview']

                tbody
                  each contribution in contributions
                    :php
                      $configuration = json_decode($contribution->getConfigSys());
                      if ($previewstrings[$contribution->getFortemplate()]) {
                        $preview = helpers::createPreviewLinks (
                          $previewstrings[$contribution->getFortemplate()], 
                          $book,
                          $issue,
                          $chapter,
                          $contribution->getId()
                        );
                      }
                      
                    tr(id=contribution->getId())
                      td=contribution->getSort()
                      td
                        .btn-group.btn-group-sm
                          button.btn.opencontribution
                            i.fa.fa-pencil
                      td=contribution->getId()
                      td=($contribution->getuserSysRef() ? $contribution->getuserSysRef()->getUsername() : '-')
                      td(data-sort=$contribution->getNewdate())=strftime($translations['day_locale'],$contribution->getNewdate())
                      if paginated
                        td
                          input(class="form-control nameedit" type="text" rows="1" value=contribution->getName())
                      else
                        td=contribution->getName()
                      td
                        a.btn.btn-xs(
                          data-status=json_encode(["Open"=>$translations["status_open"],"Draft"=>$translations["status_draft"],"Close"=>$translations["status_close"],"Deleted"=>$translations["status_deleted"]]),
                          class=(
                            $contribution->getStatus()=='Open'?
                              "btn-primary":
                              ($contribution->getStatus()=='Draft' ?
                                'btn-warning':
                                ($contribution->getStatus()=='Deleted' ?
                                  'btn-danger':
                                  'btn-success')
                                )
                            ),
                          href="/rf/contributions/".$contribution->getStatus()
                          )=$translations[strtolower("status_".$contribution->getStatus())]
                      td
                        :php
                          $d = helpers::timeFormatHelper($configuration->lockdate ? $configuration->lockdate : time(), 'd/m/Y H:i');
                        input.form-control.rfreleasemask(id=$contribution->getId(), type="text", value=d.value, data-inputmask=d.mask, data-inputmask-placeholder=d.placeholder)
                      td
                        if preview
                          each p in preview
                            small
                              span.label.label-default
                                a(href=$p[0] target="_blank")=$p[1]
                            br
                        else
                          span –

                          
      // /.box-body
if (is_array($templates))
  .modal.modal-success.fade#rfmodalnew(tabindex="-1",role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal",  aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title=$translations['rfmodalnew_title']
        .modal-body
          form
            .row
              .form-group
                label.col-sm-2.control-label=translations['choose_template']
                .col-sm-10
                  select.form-control
                    :php
                      $count=0;
                    each template in templates
                      if ($count==0)
                        option(value=template.id, selected="selected")=template.name
                      else
                        option(value=template.id)=template.name
                      :php
                        $count++;
            .row.margin
            .row
              .form-group
                label.col-sm-2.control-label=translations['choose_name']
                .col-sm-10
                  input.form-control(type="text")

        .modal-footer
          button.btn.btn-success.pull-left(type="button", data-dismiss="modal")=$translations['rfmodal_close']
          button.btn.btn-default(type="button", data-dismiss="modal")=$translations['rfmodal_continue']

  .modal.modal-danger.fade#rfmodal(tabindex="-1",role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal",  aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title=$translations['rfmodal_title']
        .modal-body=$translations['rfmodal_body']
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal")=$translations['rfmodal_close']
include ../js/csrf.js.jade
script.
  $.rokfor.initContributions();
