// Content Header (Page header)
section.content-header
  h1!=end($breadcrumb)['name']
  if apikey
    small
      span.label.label-default
        a(href="/api/contributions/".$issue."/".$chapter."?access_token=".$apikey target="_blank") API GET
  ol.breadcrumb
    each crumb in breadcrumb
      li
        a(href='#')
          i.fa(class=crumb.class)
          span=crumb.name 

// Main content
section.content(data-path=base_path)
  .row
    .col-xs-12
      .box
        .box-header
          .input-group.col-md-6(style="float: left;")
            if (is_array($templates))
              button.margin.btn.btn-success#add_contribution(style="float: left; width: 150px;")
                i.fa.fa-edit &nbsp;
                span=translations['new_document']
            .input-group
              button.btn.btn-primary.dropdown-toggle.disabled.margin.col-xs-2(style="width: 150px;", id="rf_bulk_action", type="button", data-toggle="dropdown", aria-expanded="false")
                i.fa.fa-caret-down &nbsp;
                span=$translations["contribution_actions"]
              ul.dropdown-menu.rfselector(bulk="contributions")
                li
                  a.text-green(href="/rf/contributions/Close")=$translations["status_close"]
                li
                  a.text-blue(href="/rf/contributions/Open")=$translations["status_open"]
                li
                  a.text-orange(href="/rf/contributions/Draft")=$translations["status_draft"]
                li
                  a.text-red(href="/rf/contributions/Deleted")=$translations["status_deleted"]
                li.divider
                li
                  a(href="/rf/contributions/clone")=$translations["status_clone"]
                li.divider
                li
                  a.bg-red(href="/rf/contributions/Trash")=$translations["status_destroy"]

          .input-group.col-md-5.margin(style="float: right;")
            span.input-group-btn
              button.btn.btn-default
                i.fa.fa-search
            input.form-control(id='table_search', type='text', name='table_search', placeholder='Search')


        // /.box-header
        .box-body
          .row
            .col-sm-12
              table#rftable.table.table-bordered.table-striped.dataTable
                thead
                  tr
                    th.col-xs-1=translations['contrib_th_seq']
                    th.col-xs-1=translations['contrib_th_id']
                    th.col-xs-2=translations['contrib_th_autor']
                    th.col-xs-2=translations['contrib_th_datum']
                    th.col-xs-5=translations['contrib_th_name']
                    th.col-xs-1=translations['contrib_th_status']
                    th.col-xs-1=translations['contrib_th_lock']
                tbody
                  each contribution in contributions
                    :php
                      | $configuration = json_decode($contribution->getConfigSys());
                    tr(id=contribution->getId())
                      td=contribution->getSort()
                      td=contribution->getId()
                      td=($contribution->getuserSysRef() ? $contribution->getuserSysRef()->getUsername() : '-')
                      td=strftime($translations['day_locale'],$contribution->getNewdate())
                      td=contribution->getName()
                      td
                        a.btn.btn-xs(
                          data-status=json_encode(["Open"=>$translations["status_open"],"Draft"=>$translations["status_draft"],"Close"=>$translations["status_close"],"Deleted"=>$translations["status_deleted"]]),
                          class=(
                            $contribution->getStatus()=='Open'?
                              "btn-primary":
                              ($contribution->getStatus()=='Draft' ? 
                                'btn-warning':
                                ($contribution->getStatus()=='Deleted' ? 
                                  'btn-danger':
                                  'btn-success')
                                )
                            ),
                          href="/rf/contributions/".$contribution->getStatus()
                          )=$translations[strtolower("status_".$contribution->getStatus())]
                      td
                        :php
                          | $d = helpers::timeFormatHelper($configuration->lockdate ? $configuration->lockdate : time(), 'd/m/Y H:i');
                        input.form-control.rfreleasemask(id=$contribution->getId(), type="text", value=d.value, data-inputmask=d.mask, data-inputmask-placeholder=d.placeholder)
      // /.box-body
if (is_array($templates))
  .modal.modal-success.fade#rfmodalnew(tabindex="-1",role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal",  aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title=$translations['rfmodalnew_title']
        .modal-body
          form
            .row
              .form-group
                label.col-sm-2.control-label=translations['choose_template'] 
                .col-sm-10
                  select.form-control
                    :php
                      | $count=0;
                    each template in templates
                      if ($count==0)
                        option(value=template.id, selected="selected")=template.name
                      else 
                        option(value=template.id)=template.name
                      :php
                        | $count++;
            .row.margin
            .row
              .form-group
                label.col-sm-2.control-label=translations['choose_name'] 
                .col-sm-10
                  input.form-control(type="text")      
      
        .modal-footer
          button.btn.btn-success.pull-left(type="button", data-dismiss="modal")=$translations['rfmodal_close']
          button.btn.btn-default(type="button", data-dismiss="modal")=$translations['rfmodal_continue']

  .modal.modal-danger.fade#rfmodal(tabindex="-1",role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal",  aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title=$translations['rfmodal_title']
        .modal-body=$translations['rfmodal_body']
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal")=$translations['rfmodal_close']
include ../js/csrf.js.jade
script.
  $.rokfor.initContributions();
