if (!$post)
  section.content-header
    h1 Exporters: Asynchronous Callback Actions

mixin list
  .row
    .col-md-12
      .box.box-success
        .box-header.with-border
          h4 Actions
        .box-body
          table.table.table-striped
            thead
              th Id
              th Name
              th Api Call
              th Linked
              th Action

            tbody
              if (count($processors->find()) == 0)
                tr
                  td(colspan=6, style="text-align: center;") No Hooks stored
              each processor in processors
                tr
                  td=$processor->getId()
                  td=$processor->getName()
                  td=$processor->getApi()
                  td
                    if (count($processor->getRBooks()) > 0)
                      p
                        span Books: 
                        each ref, key in $processor->getRBooks()
                          span!=($key>0?",&nbsp;":"").$ref->getName()
                    if (count($processor->getRIssues()) > 0)
                      p
                        span Issues: 
                        each ref, key in $processor->getRIssues()
                          span!=($key>0?",&nbsp;":"").$ref->getName()
                    if (count($processor->getTemplatenamess()) > 0)
                      p
                        span Template: 
                        each ref, key in $processor->getTemplatenamess()
                          span!=($key>0?",&nbsp;":"").$ref->getName()
                    if (count($processor->getRFormats()) > 0)
                      p
                        span Chapters: 
                        each ref, key in $processor->getRFormats()
                          span!=($key>0?",&nbsp;":"").$ref->getName()
                  td
                    a.btn.btn-xs.btn-danger(
                      href="/rf/batchhooks/".$processor->getId()
                      ) Delete
        .box-footer
          button.btn.btn-success#batchadd
            i.fa.fa-plus &nbsp;
            span Add Hook

if (!$post)
  section.content
    +list
if ($post)
  +list


if (!$post)
  .modal.fade#addmodal(tabindex="-1",role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal",  aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title Add Exporter Hook
        .modal-body
          form.user
            input#groupid(name="id", type="hidden")
            .form-horizontal
                .form-group
                  label.col-sm-2.control-label(for="setName") Name
                  .col-sm-10
                    input.form-control#setCode(name="setName", type="text")
                .form-group
                  label.col-sm-2.control-label(for="setApi") Api Call
                  .col-sm-10
                    input.form-control#setCode(name="setApi", type="text")                      

                .form-group
                  label.col-sm-2.control-label(for="setRBooks") Book Reference
                  .col-sm-10
                    select.form-control.modal2(multiple='multiple', style='width: 100%;' name="setRBooks")
                      each select in $books
                        option(value=select->getId())=select->getName() 

                .form-group
                  label.col-sm-2.control-label(for="setRIssues") Issue Reference
                  .col-sm-10
                    select.form-control.modal2(multiple='multiple', style='width: 100%;' name="setRIssues")
                      each select in $issues
                        option(value=select->getId())=select->getName()                      

                .form-group
                  label.col-sm-2.control-label(for="setTemplatenamess") Template Reference
                  .col-sm-10
                    select.form-control.modal2(multiple='multiple', style='width: 100%;' name="setTemplatenamess")
                      each select in $templatenames
                        option(value=select->getId())=select->getName()                      
                
                .form-group
                  label.col-sm-2.control-label(for="setRFormats") Chapter Reference
                  .col-sm-10
                    select.form-control.modal2(multiple='multiple', style='width: 100%;' name="setRFormats")
                      each select in $formats
                        option(value=select->getId())=select->getName()                      


        .modal-footer
          button.btn.pull-left(type="button", data-dismiss="modal")=$translations['rfmodal_close']
          button.btn.btn-primary.rfmodal_continue(type="button")=$translations['rfmodal_continue']

  include ../js/csrf.js.jade
  script.
    $.rokfor.initBatchHooks();
