// SELECT

.col-md-6
  .box.box-primary
    .box-header
      h4.box-title=template->getFieldName()
        if (template->getHelpdescription())
          .btn(data-toggle="tooltip", title=template->getHelpdescription())
            i.fa.fa-question-circle 
      .box-tools.pull-right
        button.btn.btn-default.btn-sm(data-widget="collapse")
         i.fa.fa-minus      
    .box-body
      .form-group
        :php
          | $data = $field->getDataAlwaysAsArray(); if (!is_array($data)) $data = [$data];
        if ($config['multiple'])
          select.form-control.rfselect(id=field->getId(), style='width: 100%;', multiple='true')
            each select in field->getHistory()
              if (in_array($select['id'], $data))
                option(value=select.id, selected='selected')=select.value
              else
                option(value=select.id)=select.value
        else
          select.form-control.rfselect(id=field->getId(), style='width: 100%;')
            each select in field->getHistory()
              if (in_array($select['id'], $data))
                option(value=select.id, selected='selected')=select.value
              else
                option(value=select.id)=select.value