// INTEGER

.col-md-6
  .box.box-info
    .box-header
      h4.box-title=template->getFieldName()
        if (template->getHelpdescription())
          i.fa.fa-question-circle(data-toggle="tooltip", title=template->getHelpdescription())
      .box-tools.pull-right
        button.btn.btn-default.btn-sm(data-widget="collapse")
         i.fa.fa-minus
    .box-body
      .input-group
        if ($config['integer'])
          span.input-group-addon
            i.fa.fa-calculator
          :php
            $format = '"alias": "numeric"';
          input.form-control.rfnumeric(id=field->getId(), type="text", data-inputmask=format, value=field->getContent())
        else
          span.input-group-addon
            i.fa.fa-calendar
          :php
            $d = helpers::timeFormatHelper($field->getContent(), $config['dateformat']);
          input.form-control.rfmask(id=field->getId(), type="text", value=d.value, data-inputmask=d.mask, data-inputmask-placeholder=d.placeholder)
