if (($config[rtfeditor] || $config[markdowneditor]) && !$config[arrayeditor])

  // RTF EDITOR

  .col-md-12
    .box.box-success
      .box-header
        h4.box-title=template->getFieldname()
          if (template->getHelpdescription())
            i.fa.fa-question-circle(data-toggle="tooltip", title=template->getHelpdescription())
          span.small.margin
            span.label.label-default(id="counter_".$field->getId())
        .box-tools.pull-right
          button.btn.btn-default.btn-sm(data-widget="collapse")
           i.fa.fa-minus
      .box-body
        if ($config[rtfeditor])
          include rtfeditor.toolbar.jade
          .rtftextarea.form-control(data-counter="#counter_".$field->getId(), data-maxlength=config.textlength, style="min-height:".(str_replace(',', '.', $config['maxlines']*1.5))."em;", id=field->getId())!=field->getContent()
        if ($config[markdowneditor])
          textarea.mdtextarea.form-control(data-counter="#counter_".$field->getId(), data-maxlength=config.textlength, style="min-height:".(str_replace(',', '.', $config['maxlines']*1.5))."em;", rows=config.maxlines, id=field->getId())!=field->getContent()

else if config.arrayeditor

  // ARRAY EDITOR
  :php
    $rows = json_decode($field->getContent(), true); $row = 0; if (is_array($rows[0])) {foreach ($rows as &$r) { $r = join(',',$r); } }; if(!is_array($rows)) {$rows = [$rows];}
  .form-horizontal.col-md-12
    .box.box-success
      .box-header
        h4.box-title=template->getFieldname()
          if (template->getHelpdescription())
            i.fa.fa-question-circle(data-toggle="tooltip", title=template->getHelpdescription())
        .box-tools.pull-right
          button.btn.btn-default.btn-sm(data-widget="collapse")
           i.fa.fa-minus
      .box-body
        each column in $config['editorcolumns']
          .form-group
            label.col-sm-2.control-label=$column['label']
            .col-sm-10
              span.label.label-default.rfmultieditorcounter(id="counter_".$row."_".$field->getId())
              if config.rtfeditor
                include rtfeditor.toolbar.jade
                .rtftextarea.rtfmultieditor.form-control(data-counter="#counter_".$row."_".$field->getId(), data-maxlength=config.textlength, style="min-height:".(str_replace(',', '.', $column['lines']*1.5))."em;", id=$row."_".$field->getId(), data-fieldid=$field->getId())!=$rows[$row++]
              else
                if config.markdowneditor
                  textarea.mdtextarea.mdmultieditor.form-control(data-counter="#counter_".$row."_".$field->getId(), data-maxlength=config.textlength, style="min-height:".(str_replace(',', '.', $column['lines']*1.5))."em;", rows=config.maxlines, id=field->getId())!=$rows[$row++]
                else
                  textarea.form-control.rfmultieditor(data-counter="#counter_".$row."_".$field->getId(), data-maxlength=config.textlength, rows=$column['lines'], id=field->getId(), class=config.codeeditor?'codeeditor':'')=$rows[$row++]

else

  // BASIC EDITOR

  .col-md-12
    .box.box-success
      .box-header
        h4.box-title=template->getFieldname()
          if (template->getHelpdescription())
            i.fa.fa-question-circle(data-toggle="tooltip", title=template->getHelpdescription())
          span.small.margin
            span.label.label-default(id="counter_".$field->getId())
        .box-tools.pull-right
          button.btn.btn-default.btn-sm(data-widget="collapse")
           i.fa.fa-minus
      .box-body
        .form-group
          textarea.form-control.rfeditor(data-counter="#counter_".$field->getId(), data-maxlength=config.textlength, rows=config.maxlines, id=field->getId(), class=config.codeeditor?'codeeditor':'')=$field->getContent()
