// KEYWORD SELECT

.col-md-6
  .box.box-primary
    .box-header
      h4.box-title=template->getFieldName()
        if (template->getHelpdescription())
          i.fa.fa-question-circle(data-toggle="tooltip", title=template->getHelpdescription())
      .box-tools.pull-right
        button.btn.btn-default.btn-sm(data-widget="collapse")
         i.fa.fa-minus      
    .box-body          
      .form-group
        :php
          $data = $field->getRelationsAsArray($config['history_command']);
          $history_reverse = [];
          foreach ($field->getHistory() as $hist) {
            $history_reverse[$hist[id]] = $hist[value];
          };
        select.form-control.rfkeyword(id=field->getId(), style='width: 100%;', multiple="multiple", data-tags=($config['history_command']=='self'?'true':'false'))
          each dt in data
            option(value=dt, selected='selected')=$history_reverse[$dt]
          each select in $field->getHistory()
            if (!in_array($select['id'], $data))
              option(value=select.id)=select.value			