// FILE UPLOAD

.col-md-12
  .box.box-warning
    .box-header
      h4.box-title=template->getFieldname()
        if (template->getHelpdescription())
          i.fa.fa-question-circle(data-toggle="tooltip", title=template->getHelpdescription())
      .box-tools.pull-right
        button.btn.btn-default.btn-sm(data-widget="collapse")
         i.fa.fa-minus
    .box-body.rfuploader.uploader(id=field->getId())
      .margin=$translations['imageform_dnd']
      .browser
        label.btn.btn-primary
          span=$translations['imageform_open']
          input(type='file', name='files[]', multiple='multiple', title=$translations['imageform_open'])
    .box-footer
      table.table.table-bordered.table-striped.box-footer.dataTable.rfimagetable
        thead
          tr
            th=$translations['imageform_sort']
            th=$translations['imageform_image']
            if (count($config['caption_variants']) > 1)
              each caption_variant in config.caption_variants
                th=$translations['imageform_caption'].' '.$caption_variant
            else
              th=$translations['imageform_caption']
            th
        tbody
          :php
            $rows = json_decode($field->getContent(), true);
            $sortcount = 1;
            $db->sign_request($rows, $private, $contribution->getId(), $field->getId());
          if (is_array($rows))
            each row in $rows
              tr
                td=$sortcount++
                td
                    a.rfimagetablepreview(href=$row[1]."?backend=true", target="_blank")
                      img(data-file=$row[1], src=$row[2]['thumbnail']."?backend=true")
                if (count($config['caption_variants']) > 1)
                  :php
                    $keyvariant = 0;
                  each caption_variant in config.caption_variants
                    td=(is_array($row[0])?$row[0][$keyvariant++]:$row[0])
                else
                  td=((is_array($row[0]) && count($row[0]) > 1)?join(', ',$row[0]):$row[0])
                td
    .overlay(style="display:none;")
      i.fa.fa-refresh.fa-spin
