li.header=project
each book in menu
  li.treeview
    a(href='#')
      i.fa.fa-book
      span=book.name
      i.fa.fa-angle-left.pull-right
    ul.treeview-menu
      each issue in book.issues
        li
          if (count($book['issues'])==1)
            p.single-item
              i.fa.fa-folder-o(class=issue.status=='open'?'text-green':'text-red')
              span=$issue['name']
              i.fa.fa-angle-left.pull-right
          else
            a(href='#')
              i.fa.fa-folder-o(class=issue.status=='open'?'text-green':'text-red')
              span=$issue['name']
              i.fa.fa-angle-left.pull-right
          ul.treeview-menu(class=(count($book['issues'])==1?'menu-open menu-force':''))
            each chapter in issue.chapters
              li
                a.ajaxload(id="chapter_".str_replace("/","_",$chapter['url']), href=chapter.url, target=".content-wrapper#list")
                  i.fa.fa-files-o.text-white
                  span=chapter.name