.col-md-12
  .nav-tabs-custom
    ul.nav.nav-tabs.pull-right
      li(class=($type=='chapter'?'active':''))
        a(href="#chapter_".$book['book']->getId() data-toggle="tab")=$translations['structure_chapters']
      li(class=($type=='issue'?'active':''))
        a(href="#issue_".$book['book']->getId() data-toggle="tab")=$translations['structure_issues']
      li(class=($type=='book'||!$type?'active':''))
        a(href="#book_".$book['book']->getId() data-toggle="tab")=$translations['structure_book']
      li.pull-left.header=book.name
      li.pull-left(style="margin-top: 0.5em")
        small
          span.label.label-default='Id '.$book['book']->getId()
    .tab-content
      // Chapter Editor
      .tab-pane.chapter(id="chapter_".$book['book']->getId(), class=($type=='chapter'?'active':''))
        table.table.table-striped
          thead
            th.col-xs-12
              .input-group.col-xs-12
                input.form-control(placeholder=$translations['structure_chapter_new'], id="input_newchapter".$book['book']->getId(), data-button="#button_newchapter".$book['book']->getId())
                span.input-group-btn
                  a.btn.btn-solid.btn-success.disabled(id="button_newchapter".$book['book']->getId(), data-input="#input_newchapter".$book['book']->getId())=$translations['structure_chapter_add']
          if (book.chapters)
            tbody.sortable(data-sort="chapters")
              each chapter in book.chapters
                tr.idcontainer(id=$chapter['chapter']->getId())
                  td.col-xs-12(colspan=3)
                    .input-group.col-xs-12
                      span.input-group-btn
                        :php
                          | $r = []; foreach($chapter['chapter']->getRightss() as $b) $r[] = $b->getId();
                        a.btn.btn-solid.btn-default.btn-sm.rights(href="rights", data-rights=json_encode($r))
                          span=$translations['structure_chapter_rights']
                        a.btn.btn-solid.btn-default.btn-sm.settingschapter(href="settings", data-rights=$chapter['chapter']->getConfigSys())
                          span=$translations['structure_chapter_settings']
                      small(style="position: absolute; z-index: 1000; margin-left: 0.5em; margin-top: 0.5em;")
                        span.label.label-default!='Id&nbsp;'.$chapter['chapter']->getId()
                      input.form-control.input-sm(value=chapter.name, style="padding-left: 4em;")
                      span.input-group-btn
                        a.btn.btn-solid.btn-danger.btn-sm
                          i.fa.fa-danger &nbsp;
                          span=$translations['structure_chapter_delete']
                        a.btn.btn-solid.btn-warning.btn-sm=$translations['structure_chapter_copy']
      // Issue Editor
      .tab-pane.issue(id="issue_".$book['book']->getId(), class=($type=='issue'?'active':''))
        table.table.table-striped
          thead
            th.col-xs-12
              .input-group.col-xs-12
                input.form-control(placeholder=$translations['structure_issue_new'], id="input_newissue".$book['book']->getId(), data-button="#button_newissue".$book['book']->getId())
                span.input-group-btn
                  a.btn.btn-solid.btn-success.disabled(id="button_newissue".$book['book']->getId(), data-input="#input_newissue".$book['book']->getId())=$translations['structure_issue_add']
          if (book.issues)
            tbody.sortable(data-sort="issues")
              each issue in book.issues
                tr.idcontainer(id=$issue['issue']->getId())
                  td
                    .input-group
                      span.input-group-btn
                        button.btn.btn-default.dropdown-toggle.btn-sm(type="button", data-toggle="dropdown", aria-expanded="false")
                          span.fa.fa-caret-down &nbsp;
                          span=$translations['structure_issue_status']
                        ul.dropdown-menu
                          li
                            a.changestate(href="open")=$translations['structure_issue_statusopen']
                              if ($issue['issue']->getStatus() == 'open')
                                span.fa.fa-check
                          li
                            a.changestate(href="close")=$translations['structure_issue_statusclose']
                              if ($issue['issue']->getStatus() == 'closed')
                                span.fa.fa-check
                        :php
                          | $r = []; foreach($issue['issue']->getRightss() as $b) $r[] = $b->getId();
                        a.btn.btn-solid.btn-default.btn-sm.rights(href="rights", data-rights=json_encode($r))
                          span=$translations['structure_issue_rights']
                        a.btn.btn-solid.btn-default.btn-sm.settingsissue(href="settings", data-rights=$issue['issue']->getConfigSys())
                          span=$translations['structure_issue_settings']
                      small(style="position: absolute; z-index: 1000; margin-left: 0.5em; margin-top: 0.5em;")
                        span.label.label-default!='Id&nbsp;'.$issue['issue']->getId()
                      input.form-control.input-sm(value=issue.name, style="padding-left: 4em;")
                      span.input-group-btn
                        a.btn.btn-solid.btn-danger.btn-sm
                          i.fa.fa-danger &nbsp;
                          span=$translations['structure_issue_delete']
                        a.btn.btn-solid.btn-warning.btn-sm=$translations['structure_issue_copy']

      // Book Editor
      .tab-pane.book(id="book_".$book['book']->getId(), class=(!$type||$type=='book'?'active':''))
        .input-group.idcontainer(id=$book['book']->getId())
          span.input-group-btn
            :php
              | $r = []; foreach($book['book']->getRightss() as $b) $r[] = $b->getId();
            a.btn.btn-solid.btn-default.rights(href="rights", data-rights=json_encode($r))
              span=$translations['structure_book_rights']
            a.btn.btn-solid.btn-default.settingsbook(href="settings", data-rights=$book['book']->getConfigSys())
              span=$translations['structure_book_settings']
          input.form-control(type="text", value=book.name)
          span.input-group-btn
            a.btn.btn-solid.btn-warning=$translations['structure_book_copy']
            a.btn.btn-solid.btn-danger
              i.fa.fa-danger &nbsp;
              span=$translations['structure_book_delete']
    //-.overlay
    //-  i.fa.fa-refresh.fa-spin
if type
  include ../js/csrf.js.jade