.col-md-12
  .nav-tabs-custom.collapsed
    ul.nav.nav-tabs.pull-right
      li(class=($type=='fields'?'active':''))
        a(href="#fields_".$template->getId(), data-toggle="tab")=$translations['template_fields']
      li(class=($type=='access'?'active':''))
        a(href="#access_".$template->getId(), data-toggle="tab")=$translations['template_access']
      li(class=($type=='name'||!$type?'active':''))
        a(href="#name_".$template->getId(), data-toggle="tab")=$translations['template_name']
      li.pull-left.header=$template->getName()
      li.pull-left(style="margin-top: 0.5em")
        small
          span.label.label-default='Id '.$template->getId()
      
    .tab-content
      //- Fields Editor
      .tab-pane.fields(id="fields_".$template->getId(), class=($type=='fields'?'active':''))
        .input-group.margin
          input.form-control.onchange(id="input_newfield_".$template->getId(), placeholder=$translations['field_new_placeholder'], data-button="#button_newfield_".$template->getId())
          span.input-group-btn
            button.btn.btn-success.fieldaction.disabled(id="button_newfield_".$template->getId() data-input="#input_newfield_".$template->getId())=$translations['field_add']
        :php
          | $criteria = new \Propel\Runtime\ActiveQuery\Criteria(); $criteria->addAscendingOrderByColumn(__sort__); 
        :php
          | $fields_in_template = [];
        .sortable.margin
          each field in $template->getTemplatess($criteria)
            :php
              | $fields_in_template["id"][] = $field->getId(); $fields_in_template["label"][] = $field->getFieldname();
            .panel.box.box-default.box-solid.fieldtemplate(id=$field->getId())
              .box-header(data-toggle="collapse", style="cursor:ns-resize;", data-parent="#fields_".$template->getId(), href="#f_".$field->getId()) 
                .col-xs-2(style="padding-left: 0")
                  button.btn
                    i.fa.fa-bars
                  small
                    span.label.label-default!='&nbsp;Id&nbsp;'.$field->getId()
                    
                .input-group.has-warning.col-xs-10
                  input.form-control.onchange(name="Fieldname", type="text", value=$field->getFieldname())
                  span.input-group-btn
                    a.btn.btn-solid.btn-warning.fieldaction=$translations['template_copy']
                    a.btn.btn-solid.btn-danger.fieldaction
                      i.fa.fa-danger &nbsp;
                      span=$translations['template_delete']
              .panel-collapse.collapse(id="f_".$field->getId()) 
                .box-body
                  form.fields
                    .col-md-6.form-horizontal
                      .form-group
                        label.col-sm-2.control-label(for="fieldtype".$field->getId())=$translations['field_label_fieldtype']
                        .col-sm-10
                          select.form-control(name="Fieldtype", type="text" id="fieldtype".$field->getId())
                            each fieldtype in fieldtypes
                              if ($fieldtype == $field->getFieldtype())
                                option(value=fieldtype, selected="selected")=$translations['field_type_'.$fieldtype]
                              else
                                option(value=fieldtype)=$translations['field_type_'.$fieldtype]
                      .form-group
                        .col-sm-12
                          button.btn.btn-default.btn-block.rfconfigopen(type="button")
                            i.fa.fa-gears &nbsp;
                            span=$translations['field_label_fieldconfig']
                            input(type="hidden", value=$field->GetFilteredConfigsys(), name="ConfigSys")

                    .col-md-6.form-horizontal
                      .form-group
                        label.col-sm-2.control-label(for="help".$field->getId())=$translations['field_label_help']
                        .col-sm-10
                          input.form-control(name="Helpdescription", type="text" id="help".$field->getId(), value=$field->getHelpdescription())

                      .form-group
                        label.col-sm-2.control-label(for="helpimage".$field->getId())=$translations['field_label_helpimage']
                        .col-sm-10
                          input.form-control(name="Helpimage", type="text" id="helpimage".$field->getId(), value=$field->getHelpimage())
      //- Access Editor
      .tab-pane.access(id="access_".$template->getId(), class=($type=='access'?'active':''))
        .row
          form.access
            .col-sm-6.form-horizontal
              .form-group
                label.col-sm-2.control-label(for="info".$template->getId())=$translations['template_label_info']
                .col-sm-10
                  textarea.form-control(rows="7", name="Helptext", type="text" id="info".$template->getId())=$template->getHelptext()
              .form-group
                label.col-sm-2.control-label(for="group".$template->getId())=$translations['template_label_group']
                .col-sm-10
                  input.form-control(name="Category", type="text" id="group".$template->getId(), value=$template->getCategory())
              .form-group
                label.col-sm-2.control-label(for="image".$template->getId())=$translations['template_label_image']
                .col-sm-10
                  input.form-control(name="Helpimage", type="text" id="image".$template->getId(), value=$template->getHelpimage())
              .form-group
                label.col-sm-2.control-label(for="public".$template->getId())=$translations['template_label_public']
                .col-sm-10
                  if ($template->getPublic())
                    input(name="Public", type="checkbox" id="public".$template->getId(), checked="true")
                  else
                    input(name="Public", type="checkbox" id="public".$template->getId())
            .col-sm-6.form-horizontal
              .form-group
                label.col-sm-2.control-label(for="forbook".$template->getId())=$translations['template_label_books']
                .col-sm-10                    
                  select.form-control.books(name="Books", id="forbook".$template->getId(), multiple="multiple")
                    each book in template.books
                      if book.selected
                        option(value=book.id, selected="selected")=book.name
                      else
                        option(value=book.id)=book.name
              .form-group
                label.col-sm-2.control-label(for="forchapter".$template->getId())=$translations['template_label_chapters']
                .col-sm-10
                  select.form-control.formats(name="Formats", id="forchapter".$template->getId(), multiple="multiple")
                    each format in template.formats
                      if format.selected
                        option(value=format.id, selected="selected")=format.name
                      else
                        option(value=format.id)=format.name
              .form-group
                label.col-sm-2.control-label(for="rights".$template->getId())=$translations['template_label_rights']
                .col-sm-10
                  select.form-control.rights(name="Rights", id="rights".$template->getId(), multiple="multiple")
                    each right in template.rights
                      if right.selected
                        option(value=right.id, selected="selected")=right.name
                      else
                        option(value=right.id)=right.name
      //- Name Editor
      .tab-pane.name(id="name_".$template->getId(), class=($type=='name'||!$type?'active':''))
        .input-group.col-xs-12
          input.form-control.onchange(type="text" id="name".$template->getId(), value=$template->getName())
          span.input-group-btn
            a.btn.btn-solid.btn-warning.templateaction=$translations['template_copy']
            a.btn.btn-solid.btn-danger.templateaction
              i.fa.fa-danger &nbsp;
              span=$translations['template_delete']
//- Store Fields of this template in global var for editor popup
script.
  $.rokfor.fieldspertemplate[<?=$template->getId()?>] = <?=json_encode($fields_in_template)?>;
//- CSRF and Schema changes if called via ajax
if action
  include ../js/csrf.js.jade  
  script.
    $.rokfor.configschema = <?=$schema;?>;